In [2]:
import pandas as pd
df=pd.read_csv("C:/Users/Md Faizan Hussain/Downloads/customer_shopping_behavior.csv")

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
df['Review Rating'] = df.groupby('Category') ['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [9]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [34]:
df.columns = (
    df.columns
    .str.replace('_', '')   # sab underscores hatao
)

In [35]:
df.columns

Index(['customerid', 'age', 'gender', 'itempurchased', 'category',
       'purchaseamountusd', 'location', 'size', 'color', 'season',
       'reviewrating', 'subscriptionstatus', 'shippingtype', 'discountapplied',
       'promocodeused', 'previouspurchases', 'paymentmethod',
       'frequencyofpurchases'],
      dtype='object')

In [36]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(' ', '_')
    .str.replace(r'[^\w]', '', regex=True)
)

In [37]:
df.columns

Index(['customerid', 'age', 'gender', 'itempurchased', 'category',
       'purchaseamountusd', 'location', 'size', 'color', 'season',
       'reviewrating', 'subscriptionstatus', 'shippingtype', 'discountapplied',
       'promocodeused', 'previouspurchases', 'paymentmethod',
       'frequencyofpurchases'],
      dtype='object')

In [38]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(' ', '_')
    .str.replace(r'[^\w]', '', regex=True)
)

In [39]:
df.columns

Index(['customerid', 'age', 'gender', 'itempurchased', 'category',
       'purchaseamountusd', 'location', 'size', 'color', 'season',
       'reviewrating', 'subscriptionstatus', 'shippingtype', 'discountapplied',
       'promocodeused', 'previouspurchases', 'paymentmethod',
       'frequencyofpurchases'],
      dtype='object')

In [40]:
df = df.rename(columns={
    'customerid': 'customer_id',
    'itempurchased': 'item_purchased',
    'purchaseamountusd': 'purchase_amount_usd',
    'reviewrating': 'review_rating',
    'subscriptionstatus': 'subscription_status',
    'shippingtype': 'shipping_type',
    'discountapplied': 'discount_applied',
    'promocodeused': 'promo_code_used',
    'previouspurchases': 'previous_purchases',
    'paymentmethod': 'payment_method',
    'frequencyofpurchases': 'frequency_of_purchases'
})

In [41]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [43]:
#Create a columns age_group
labels=['Young Adult','Adult','Middle-aged','Senior']
df['age-group'] = pd.qcut(df['age'],q=4,labels=labels)

In [44]:
df[['age','age-group']].head(10)

   age    age-group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [47]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Annually': 365,
    'Every  3months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [50]:
df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                     90.0              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                     90.0              Quarterly

In [51]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [52]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [53]:
df=df.drop('promo_code_used',axis = 1)

In [54]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age-group', 'purchase_frequency_days'],
      dtype='object')

In [55]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\md faizan hussain\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.7 MB 3.5 MB/s eta 0:00:01
   -- ------------------------------------- 0.2/2.7 MB 2.1 MB/s eta 0:00:02
   -- ------------------------------------- 0.2/2.7 MB 1.2 MB/s eta 0:00:03
   --- ------------------------------------ 0.2/2.7 MB 958.6 kB/s eta 0:00:03
   ---- ----------------------------------- 0.3/2.7 MB 981.5 kB/s eta 0:00:03
   ------ --------------------------------- 0.4/2.7 MB 1.0 MB/s eta 0:00:03
   ------- -------------------------------- 0.5/2.7 MB 1.1 MB/s eta 0:00:03
   ------- -------------------------------- 0.5/2.7 MB 1.0 MB/s eta 0:00:03
   --------- ------------------------------ 0.6/2.7 MB 966.7 kB/s eta 0:00:03
   --------- ------------------------------ 0.7/2.7 MB 937.7 kB/s eta 0:00:03
   ---------- ----------------------------- 0.7/2.7 MB 909.0 kB/s eta 0:00:03
   ----------- ---------------------------- 0.8/2.7 MB 910.0 kB/s eta 0:00:03
   ------------ --------------------------- 0.8/2.7 MB 891.9 kB/s eta 0:00:03
   ------------ --------------------------- 0.9/2.7 MB 887.7 kB/s eta 0:00:03
   ------------- -------------------------- 0.9/2.7 MB 863.6 kB/s eta 0:00:03
   --------------- ------------------------ 1.0/2.7 MB 897.5 kB/s eta 0:00:02
   --------------- ------------------------ 1.1/2.7 MB 876.0 kB/s eta 0:00:02
   ---------------- ----------------------- 1.1/2.7 MB 873.6 kB/s eta 0:00:02
   ----------------- ---------------------- 1.2/2.7 MB 868.6 kB/s eta 0:00:02
   ----------------- ---------------------- 1.2/2.7 MB 863.9 kB/s eta 0:00:02
   ------------------- -------------------- 1.3/2.7 MB 875.7 kB/s eta 0:00:02
   ------------------- -------------------- 1.3/2.7 MB 860.5 kB/s eta 0:00:02
   -------------------- ------------------- 1.4/2.7 MB 858.6 kB/s eta 0:00:02
   --------------------- ------------------ 1.4/2.7 MB 849.3 kB/s eta 0:00:02
   --------------------- ------------------ 1.5/2.7 MB 839.9 kB/s eta 0:00:02
   --------------------- ------------------ 1.5/2.7 MB 814.9 kB/s eta 0:00:02
   ---------------------- ----------------- 1.5/2.7 MB 819.2 kB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 817.5 kB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 803.8 kB/s eta 0:00:02
   ------------------------ --------------- 1.6/2.7 MB 795.4 kB/s eta 0:00:02
   ------------------------ --------------- 1.6/2.7 MB 782.4 kB/s eta 0:00:02
   ------------------------- -------------- 1.7/2.7 MB 781.6 kB/s eta 0:00:02
   ------------------------- -------------- 1.7/2.7 MB 769.7 kB/s eta 0:00:02
   -------------------------- ------------- 1.8/2.7 MB 761.5 kB/s eta 0:00:02
   -------------------------- ------------- 1.8/2.7 MB 735.0 kB/s eta 0:00:02
   --------------------------- ------------ 1.8/2.7 MB 738.2 kB/s eta 0:00:02
   --------------------------- ------------ 1.9/2.7 MB 723.2 kB/s eta 0:00:02
   ---------------------------- ----------- 1.9/2.7 MB 708.6 kB/s eta 0:00:02
   ---------------------------- ----------- 1.9/2.7 MB 703.9 kB/s eta 0:00:02
   ---------------------------- ----------- 2.0/2.7 MB 695.3 kB/s eta 0:00:02
   ----------------------------- ---------- 2.0/2.7 MB 691.0 kB/s eta 0:00:02
   ------------------------------ --------- 2.0/2.7 MB 682.7 kB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 671.8 kB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.7 MB 671.7 kB/s eta 0:00:01
   -------------------------------- ------- 2.2/2.7 MB 674.4 kB/s eta 0:00:01
   --------------------------------- ------ 2.2/2.7 MB 680.2 kB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 682.7 kB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 682.7 kB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.7 MB 672.8 kB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.7 MB 666.7 kB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 660.7 kB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 660.8 kB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 660.6 kB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 668.4 kB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 670.7 kB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 668.0 kB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 668.0 kB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 645.6 kB/s eta 0:00:00
Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 3.3 MB/s eta 0:00:01
   ------ --------------------------------- 0.4/2.1 MB 2.8 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.1 MB 2.8 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 2.7 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 2.3 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 2.1 MB/s eta 0:00:01
   ----------------- ---------------------- 1.0/2.1 MB 1.9 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 1.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.1/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.0 MB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.1 MB 997.1 kB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 991.2 kB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 983.4 kB/s eta 0:00:01
   ------------------------- -------------- 1.4/2.1 MB 975.6 kB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 948.7 kB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 939.5 kB/s eta 0:00:01
   --------------------------- ------------ 1.5/2.1 MB 910.1 kB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 909.0 kB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 887.7 kB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 883.4 kB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 881.1 kB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 872.3 kB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 857.4 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 839.6 kB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 832.9 kB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 823.8 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 814.9 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 804.9 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 802.1 kB/s eta 0:00:01
   -------------------------------------- - 2.1/2.1 MB 792.8 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 784.2 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 784.2 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 744.4 kB/s eta 0:00:00
Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl (301 kB)
   ---------------------------------------- 0.0/301.2 kB ? eta -:--:--
   -------- ------------------------------- 61.4/301.2 kB 1.7 MB/s eta 0:00:01
   ---------------- ----------------------- 122.9/301.2 kB 1.4 MB/s eta 0:00:01
   ----------------------------- ---------- 225.3/301.2 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------  297.0/301.2 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------  297.0/301.2 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- 301.2/301.2 kB 810.4 kB/s eta 0:00:00
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.3.0 psycopg2-binary-2.9.11 sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

WARNING: Skipping C:\Users\Md Faizan Hussain\AppData\Local\Programs\Python\Python311\Lib\site-packages\tensorflow-2.19.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\Md Faizan Hussain\AppData\Local\Programs\Python\Python311\Lib\site-packages\tensorflow-2.19.0.dist-info due to invalid metadata entry 'name'

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [57]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "postgres"
password = quote_plus("Hee4Boox!@#%")   #  IMPORTANT LINE
host = "localhost"
port = "5432"
database = "customer_behavior"

engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

engine.connect()
print(" PostgreSQL Connected Successfully")

 PostgreSQL Connected Successfully

In [58]:
df.to_sql(
    name="customer",        #  table name
    con=engine,
    if_exists="replace",    # replace = table overwrite
    index=False
)

print(" DataFrame successfully loaded into 'customer' table")

 DataFrame successfully loaded into 'customer' table